body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
  }
  
  .container {
    min-height: 100vh;
    width: 97vw; /* Ensures it covers the full width */
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    background: white;
    padding: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    margin-left: 10px;
    
    background-size: cover; /* Ensures the image covers the entire container */
    background-position: center center; /* Centers the image */
    background-repeat: no-repeat;
   
  }
  
  .left-section {
    text-align: center;
    border-right: 2px solid #b5651d;
    padding-right: 20px;
  }
  
  .profile-image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .title {
    color: #555;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: #fff;

    
  }
  
  .name {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 10px;
    color: #555;
    background-color: #fff;
  }
  
  .role {
    color: #4b5563;
    font-weight: bold;
    background-color: #fff;
    margin-top: -15px;
  }
  
  .section-title {
    font-weight: bold;
    margin-top: 15px;
    color: #b5651d;
    background-color: #fff;
    padding: 15px;
    border-left: 5px solid #b5651d;
  }
  
  .description, .contest {
    font-size: 0.9rem;
    color: #555;
    background-color: #fff;
    margin-top: -12px;
    padding: 15px;
  
    border-left: 5px solid #b5651d;
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 11px;
  }
  .contact{
    margin-top: -9px;
    background-color: #1a1a1aa6; /* Tailwind's bg-blue-500 */
    color: white;
    padding: 0.75rem 1.5rem;
    font-weight: 300;
    box-shadow: 0 4px 6px rgba(59, 130, 246, 0.3);
    transition: background-color 0.3s ease;
  }
  .contact:hover {
    background: #b5651d;
  }
  .icon {
    font-size: 1.2rem;
    cursor: pointer;
  }
  
  .right-section {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .box {
    background: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.1);
    border-left: 5px solid #b5651d;
  }
  
  h3 {
    font-size: 1.2rem;
    color: #b5651d;
    margin-bottom: 10px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    font-size: 0.9rem;
    color: #333;
    margin-bottom: 5px;
  }
  
  .resume-button {
    background-color: #1a1a1aa6; /* Tailwind's bg-blue-500 */
    color: white;
    padding: 0.75rem 1.5rem;
    border-radius: 1rem;
    font-weight: 600;
    box-shadow: 0 4px 6px rgba(59, 130, 246, 0.3);
    transition: background-color 0.3s ease;
  }
  
  .resume-button:hover {
    background: #b5651d;
  }
  