/* Hero.css */

@import url('https://fonts.googleapis.com/css2?family=Radley&display=swap');

.hero-container {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(new URL('../assets/image/1600w-pE_Ruap0PiI (1).jpg', import.meta.url).href);
    background-size: cover; /* Ensure the image covers the conasdasdasdasdtainer */
    background-position: center;
    background-repeat: no-repeat; 
    color: #1f2937;
    padding: 1.5rem;
}

.hero-card {
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.hero-logo {
    display: inline-block;
    background-color: #81486dd1;
    color: white;
    padding: 18px 5px;
    font-size: 3rem;
    font-weight: bold;
    border-radius: 0px;
    margin-bottom: 20px;
}

.hero-title {
    font-size: 75.2px;
    font-family: 'Radley', serif;
    font-weight: bold;
    margin-top: -0.5rem;
    margin-bottom: auto;
}

.hero-subtitle {
    font-size: 1.125rem;
    color: #4b5563;
    height: 31px;
}

.hero-text {
    margin-top: 1rem;
    font-size: 24px;
    font-family: 'Carlito', sans-serif;
}

.hero-button {
    margin-top: 1.5rem;
    background-color: #1a1a1aa6; /* Tailwind's bg-blue-500 */
    color: white;
    padding: 0.75rem 1.5rem;
    border-radius: 1rem;
    font-weight: 600;
    box-shadow: 0 4px 6px rgba(59, 130, 246, 0.3);
    transition: background-color 0.3s ease;
}

.hero-button:hover {
    background-color: #b5651d; /* Tailwind's hover:bg-blue-600 */
}

.circle-wrapper {
    display: inline-block;
    position: relative;
}

/* Styling for "Nur" with bold font */
.circle-text {
    font-weight: bold;
    font-size: 1.2em;
    padding: 5px 15px;
    position: relative;
    z-index: 1;
}

/* Circling dashed stroke for Nur */
.circle-animation {
    position: absolute;
    top: 17%;
    left: -5%;
    width: 228px;  /* Adjust for oval effect */
    height: 91px;
    border: 3px dashed #b5651d; /* Brown-orange color */
    border-radius: 50%;
    transform-origin: center;
    animation: circling 2s linear infinite;
}

/* Keyframes for circling animation */
@keyframes circling {
    0% {
        transform: rotate(0deg) translateX(20px) rotate(0deg);
    }
    100% {
        transform: rotate(360deg) translateX(20px) rotate(-360deg);
    }
}
